.person_wrapper {
    border: 1px solid red;
    padding: 130px 0;
    display: flex;
    justify-content: center;
     ul {
        width: 80%;
        li {
            list-style-type: none;
            a {
                font-size: 25px;
                color: #000;
                text-decoration: none;
            }
            
        }
     }
}